@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
a,
.green {
  text-decoration: none;
  color: yellow;
  transition: 0.4s;
  margin-right: 1rem;
}
.bg-body-tertiary{
    background-color: grey;
}
.navbar-brand{
    color: yellow;
}
.container-fluid{
    background-color: grey;
}
@media (hover: hover) {
  a:hover {
    background-color: rgba(255, 255, 0, 0.248);
  }
}
  body {
    background-image: url("src/assets/images/coruscant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
